# Sistema operativo
.DS_Store
Thumbs.db
*~

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Logs y temporales
*.log
*.tmp

# Dependencias (por si algún día se agrega tooling)
node_modules/

# Netlify
.netlify/
